	<!DOCTYPE html>
	<html lang="en">

	<head>
	  <title>Jan Francis Israel: Design your Imagination</title>

	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=1280" />
	  <meta charset="utf-8">
	  <meta name="description" content="I offers premium services delivered by professionals who are not afraid to think outside the box. We personalize each service to fit your needs and strive to deliver the best quality at reasonable rates.">
	  <meta name="keywords" content="jan, francis, israel, janisrael, janfrancisisrael, francisisrael, freelance, company, developer, designer, Responsive web design, PHP, JSON, AJAX, AngularJS, jQuery, Bootstrap, HTML, CSS, Javascript, illustrator, SEO writing, Press releases, Newswires, Feature articles, Website content, Advertising copy, Digital art, Web design, Graphic design Book illustrations, Graphic Novel illustrations, Game illustrations, Photo editing, Retouching, Photo manipulation, Book cover designs, Album cover designs, Logo creation">
	  <meta http-equiv="Last-Modified" content="2015-08-01T00:08-0400" />

	  <link rel="icon" type="image/png" href="images/logo_icon.png" />
	  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	  <link rel="stylesheet" href="css/animate.css" type="text/css">
	  <link rel="stylesheet" type="text/css" href="style.css">
	  <!-- <link rel="stylesheet" type="text/css" href="style-animate.css"> -->
	  <link rel="stylesheet" type="text/css" href="js/source/jquery.fancybox.css?v=2.1.5" media="screen" />
	  <link rel="stylesheet" type="text/css" href="js/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
	  <link rel="stylesheet" type="text/css" href="js/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
	  <link rel="stylesheet" type="text/css" href='js/jquery-rating/jquery.rating.css' />
	  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-65971307-1', 'auto');
	  ga('send', 'pageview');

	  </script>


<script type="text/javascript">

if (screen.width <= 699) {
document.location = "http://digitaliron.com/jan_tools/mobile";
}

</script>


<script type="text/javascript">

if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) {
   location.replace("http://digitaliron.com/jan_tools/mobile");
}

</script>



	</head>

	  <body id="home" ng-app="squareft">

	    <div class="coverbefore"></div>
	    <div class="arrowUp">
	      <i class="fa fa-arrow-circle-up"></i>
	    </div>

	    <nav class="navbar navbar-shrink navbar-fixed-top">
	      <!-- Collect the nav links, forms, and other content for toggling -->
	      <div class="navbar-container">
	        <div class="navbar-menu">
	          <ul class="navbar-left">
	            <li>
	              <a class="logo" href="home"><span>LOGO</span></a>
	            </li>
	          </ul>
	          <ul class="navbar-right">
	            <li>
	              <a class="page-scroll" href="home"><span>HOME</span></a>
	            </li>
	            <li>
	              <a class="page-scroll" href="service"><span>ABOUT ME</span></a>
	            </li>
	            <li>
	              <a class="page-scroll" href="works"><span>WORKS</span></a>
	            </li>
	         <!--    <li>
	              <a class="page-scroll" href="team"><span>TEAM</span></a>
	            </li> -->
	            <li>
	              <a class="page-scroll" href="contact"><span>CONTACT</span></a>
	            </li>
	          </ul>
	          <br />
	        </div>
	      </div>
	    </nav>
	    <div class="container" id="body-container" 
	      data-0="top:0px;" 
	      data-2000="top:-20px;" 
	      data-4000="top:-600px;" 
	      data-8000="top:-800px;" 
	      data-10000="top:-1330px;" 
	      data-14000="top:-1480px;"
	      data-15705="top:-2244px;"
	      data-20000="top:-2711px;"
	      data-22000="top:-3420px;">
	      <div class="core">
	        <div class="objects">
	          <div class="switch"></div>
	          <div class="p1 p1-circles">
	            <div class="circle circle-1"
	              data-_p1circles="transform:scale(0) translate(0px, 0px);" 
	              data-_p1circles-200="transform:scale(1) translate(0px, 0px);"
	              data-_p1circles-500="transform:scale(1) translate(0px, 0px);"
	              data-_p1circles-1100="transform:scale(1) translate(0px, 30px);" 
	              data-_p1circles-1800="transform:scale(1) translate(0px, -100px);" data-circle="page2">
	              
	             
		       <div class="page-scroll need-help shake"><a href="contact"><img src="images/gallery/call-me.png"></a></div>
	             
	            </div>


	      
	        
	          </div>
	          <div class="p1 p1-text animated">HOW WE DO IT...</div>
	          <div class="p1 p1-logo"
	              data-_p1circles--200="opacity:1; margin-top:0px;" 
	              data-_p1circles-300="opacity:0; margin-top:-630px;"></div>
	          <div class="p1 p1-machine">
	            <div class="bubbles">
	              <span class="bubble1"></span>
	              <span class="bubble2"></span>
	              <span class="bubble3"></span>
	            </div>
	          </div>
	          <div class="p1 p1-brain"></div>

	          <div class="p2 p2-machine">
	            <div class="bubbles">
	              <span class="bubble1"></span>
	              <span class="bubble2"></span>
	              <span class="bubble3"></span>
	            </div>
	          </div>
	          <div class="p2 p2-machine-pipe"></div>
	          <div class="p2 p2-bulb-1"></div>
	          <div class="p2 p2-bulb-3"></div>
	          <div class="p2 p2-bulb-2">
	            <label class="hover"></label>
	            <div class="hover"></div>
	          </div>


	<div class="p2 p2-text1"
	            data-3249="transform:translate(-900px, 0px);" 
	            data-3819="transform:translate(0px, 0px);"
	            data-6000="transform:translate(0px, 70px);" 
	            data-6600="transform[swing]:translate(0px, -100px);"
	            data-6900="transform[swing]:translate(0px, -500px);">
	            <img src="images/gallery/1layermobile.png" alt="GENERATE IDEAS: Invest ample time generating ideas that best capture the vision you have for your project." /><br />
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	   width="306.609px" height="163.434px" viewBox="0 0 306.609 163.434" enable-background="new 0 0 306.609 163.434"
	   xml:space="preserve">
	<path 
	data-4200="opacity:0;"
	data-4300="opacity:1;"
	fill="#FFFFFF" d="M19.25,10.625c0,4.487-3.638,8.125-8.125,8.125S3,15.112,3,10.625C3,6.138,6.638,2.5,11.125,2.5
	  S19.25,6.138,19.25,10.625z"/>
	<path
	data-4300="stroke-dashoffset: -530px;stroke-dasharray: 640, 600;"
	data-5400="stroke-dashoffset: 10px;stroke-dasharray: 640, 600;"
	 fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" d="M220.461,36.143
	  c-29.343,5.593-28.341,13.171-48.615,43.212s-17.719,36.858-18.771,54.822s21.396,25.373,29.174,1.323S171.35,88.644,171.35,88.644
	  c-19.454-20.572-26.546-28.761-75.972-27.65s-52.241,44.555-32.045,40.338S83.167,76,83.167,76C81.53,12.783,21.5,9,21.5,9"/>
	<path fill="none" stroke="#000000" stroke-dasharray="15, 13" stroke-dashOffset="24px" stroke-width="5" stroke-miterlimit="10" d="M220.461,36.143
	  c-29.343,5.593-28.341,13.171-48.615,43.212s-17.719,36.858-18.771,54.822s21.396,25.373,29.174,1.323S171.35,88.644,171.35,88.644
	  c-19.454-20.572-26.546-28.761-75.972-27.65s-52.241,44.555-32.045,40.338S83.167,76,83.167,76C81.53,12.783,21.5,9,21.5,9"/>
	<path 
	data-5400="opacity:0;"
	data-5500="opacity:1;"
	 fill="#FFFFFF" d="M260.997,80.354c-5.124,0-7.226-2.404-7.319-2.514l1.518-1.303c0.078,0.088,1.972,2.148,6.968,1.772
	  l0.058-0.004l0.057,0.002c0.038,0.001,3.255,0.083,5.616-2.017l1.33,1.494c-2.81,2.499-6.424,2.532-6.961,2.523
	  C261.822,80.339,261.399,80.354,260.997,80.354z M261.206,77.634c-4.48,0-7.862-2.797-7.915-2.841l1.291-1.528
	  c0.278,0.233,6.876,5.638,13.371-0.642l1.391,1.438C266.546,76.763,263.706,77.634,261.206,77.634z M261.023,74.89
	  c-4.381,0-7.665-2.604-7.717-2.645l1.26-1.554c0.238,0.191,5.09,4,10.559,1.184c-0.796,0.295-1.673,0.51-2.625,0.591
	  c-3.322,0.278-6.671-1.145-9.938-4.24l-0.313-0.296v-9.414c-0.473-0.8-2.394-3.877-6.753-8.858l-0.13-0.188
	  c-0.189-0.357-4.628-8.838-1.831-17.455c1.644-5.063,5.438-9.072,11.276-11.915l0.127-0.052c0.136-0.044,13.771-4.32,23.837,8.07
	  l0.103,0.154c0.278,0.513,6.73,12.671-0.085,21.583l-7.09,7.586l-1.243,10.442l-0.161,0.215c-0.059,0.079-0.777,1.021-2.052,2.013
	  l1.095,1.134C266.479,74.012,263.566,74.89,261.023,74.89z M254.25,67.064c2.729,2.485,5.444,3.634,8.081,3.409
	  c3.333-0.282,5.608-2.675,6.21-3.379l1.255-10.538l7.474-7.989c5.714-7.48,0.416-18.244-0.108-19.263
	  c-8.936-10.915-20.479-7.699-21.54-7.372c-5.287,2.59-8.712,6.186-10.178,10.687c-2.391,7.339,1.178,14.887,1.641,15.817
	  c5.201,5.957,6.974,9.205,7.047,9.341l0.119,0.222V67.064z M281.234,71.143l-5.25-4.375l1.281-1.536l5.25,4.375L281.234,71.143z
	   M237.833,66.889l-0.916-1.778l8.5-4.375l0.916,1.778L237.833,66.889z M288.456,60.993c-3.301-2.971-7.133-6.229-7.831-6.539
	  c0.004,0.002,0.104,0.045,0.265,0.045v-2c0.419,0,1.119,0,8.904,7.007L288.456,60.993z M232.259,55.61l-1.02-1.72l7.375-4.375
	  l1.02,1.72L232.259,55.61z M296.875,41.875h-11.867v-2h11.867V41.875z M237.375,38.875h-13.25v-2h13.25V38.875z M238.533,27.556
	  l-9.875-7.25l1.184-1.612l9.875,7.25L238.533,27.556z M281.509,24.784l-1.24-1.569l8.86-7l1.24,1.569L281.509,24.784z
	   M249.713,16.661l-3.5-7.75l1.822-0.823l3.5,7.75L249.713,16.661z M268.746,14.593l-1.992-0.186l0.875-9.375l1.992,0.186
	  L268.746,14.593z"/>
	</svg>
	          </div>
	          <div class="p2 p2-text2"
	            data-4800="transform:translate(0px, 500px);" 
	            data-6000="transform:translate(0px, 170px);"
	            data-6600="transform[swing]:translate(0px, 0px);">
	            <img src="images/p2-text2.png" alt="Everything Starts Here." /><br />
	          </div>

	          <div class="p3 p3-machine"></div>
	          <div class="p3 p3-machine-light-green"></div>
	          <div class="p3 p3-machine-light-red"></div>
	          <div class="p3 p3-machine-smoke"></div>
	          <div class="p3 p3-machine-footmark-ani"></div>
	          <div class="p3 p3-machine-footmark-bak"></div>
	          <!-- <div class="p3 p3-machine-ftsample"></div> -->
	          <!-- <div class="p3 p3-machine-footmark"></div> -->
	          <div class="p3 p3-machine-shock2 animate"></div>
	          <div class="p3 p3-machine-shock1"></div>
	          <div class="p3 p3-text"
	            data-8974="transform:translate(900px, 0px);" 
	            data-9772="transform:translate(0px, 0px);"
	            data-13990="transform:translate(0px, 120px);">
	            <img src="images/p3-text.png" alt="COLLABORATE: We bring ideas to life using a collaborative process. We collaborate as a creative team and, above all, we collaborate with you." /><br />
	            <div class="p3 p3-text-image">
	            <svg version="1.1" class="ismobile" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="284px" height="105.5px" viewBox="0 0 284 105.5" enable-background="new 0 0 284 105.5" xml:space="preserve">
	              <path fill="none" stroke="#000000" d="M169.5,103.5c0,0-103.5-6.5-154.5-2c0,0,166.5-14,229-1.5c0,0-73-24-239-8.5c0,0,75.5-23.5,173.5-8.5" style="fill:none;stroke:#333333;stroke-width:2;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:810;stroke-dashoffset:0"
	                data-9860="stroke-dashoffset:810;" 
	                data-9861="stroke-dashoffset[cos]:656.299;" 
	                data-10900="stroke-dashoffset:810;"
	                data-10901="stroke-dashoffset[cos]:426.299;"
	                data-11900="stroke-dashoffset:656.299;"
	                data-11901="stroke-dashoffset[cos]:186.299;"
	                data-12900="stroke-dashoffset:426.299;"
	                data-12901="stroke-dashoffset[cos]:0;"
	                data-13737="stroke-dashoffset:186.299;"
	                data-13738="stroke-dashoffset:0;"/>

	              <image overflow="visible" width="44" height="83" x="176" y="4" xlink:href="images/p3-pen.png" style="transform:translate(0px, 0px);"
	                data-9860="@x:163;@y:23;"
	                data-9861="@x[cos]:10;@y[sin]:23;"
	                data-10900="@x:163;@y:20;"
	                data-10901="@x[cos]:238;@y[sin2]:19;"
	                data-11900="@x:10;@y:14;"
	                data-11901="@x[cos]:1;@y[sin2]:17.758186164791162;"
	                data-12900="@x:238;@y:5;"
	                data-12901="@x[cos]:176;@y[sin2]:10.405211067127638;"
	                data-13737="@x:0;@y:-1.2;"
	                data-13738="@x:176;@y:4.134888767472121;">
	              </image>

	            </svg>
	            <svg version="1.1" class="isnotmobile" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="284px" height="105.5px" viewBox="0 0 284 105.5" enable-background="new 0 0 284 105.5" xml:space="preserve">
	              <path fill="none" stroke="#000000" d="M169.5,103.5c0,0-103.5-6.5-154.5-2c0,0,166.5-14,229-1.5c0,0-73-24-239-8.5c0,0,75.5-23.5,173.5-8.5" style="fill:none;stroke:#333333;stroke-width:2;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:810;stroke-dashoffset:0"
	                data-9860="stroke-dashoffset:810;" 
	                data-9861="stroke-dashoffset[cos]:656.299;" 
	                data-10900="stroke-dashoffset:810;"
	                data-10901="stroke-dashoffset[cos]:426.299;"
	                data-11900="stroke-dashoffset:656.299;"
	                data-11901="stroke-dashoffset[cos]:186.299;"
	                data-12900="stroke-dashoffset:426.299;"
	                data-12901="stroke-dashoffset[cos]:0;"
	                data-13737="stroke-dashoffset:186.299;"
	                data-13738="stroke-dashoffset:0;"/>

	              <image overflow="visible" width="44" height="83" xlink:href="images/p3-pen.png" style="transform:translate(0px, 0px);"
	                data-9860="@x:163;@y:23;"
	                data-9861="@x[cos]:10;@y[sin]:23;"
	                data-10900="@x:163;@y:20;"
	                data-10901="@x[cos]:238;@y[sin2]:19;"
	                data-11900="@x:10;@y:14;"
	                data-11901="@x[cos]:1;@y[sin2]:17.758186164791162;"
	                data-12900="@x:238;@y:5;"
	                data-12901="@x[cos]:176;@y[sin2]:10.405211067127638;"
	                data-13737="@x:0;@y:-1.2;"
	                data-13738="@x:176;@y:4.134888767472121;">
	              </image>

	            </svg>
	            </div>

	          </div>
	          

	          <div class="p4 p4-machine"></div>
	          <div class="p4 p4-compressor-rail"></div>
	          <div class="p4 p4-foot-back"></div>
	          <div class="p4 p4-foot-cover"></div>
	          <div class="p4 p4-piston-2"></div>
	          <div class="p4 p4-piston-1"></div>
	          <div class="p4 p4-compressor-bg"></div>
	          <div class="p4 p4-controller-bg"></div>
	          <div class="p4 p4-elevate"></div>
	          <div class="p4 p4-foot"></div>
	          <div class="p4 p4-slicer"></div>
	          <div class="p4 p4-machine-cover"></div>
	          <div class="p4 p4-compressor"></div>
	          <div class="p4 p4-smoke-1"></div>
	          <div class="p4 p4-smoke-2"></div>
	          <div class="buttib">JanIsrael.com</div>
	          <div class="p4 p4-controller"></div>
	          <div class="p4 p4-text"
	            data-15278="transform:translate(-900px, 0px);" 
	            data-15778="transform:translate(0px, 0px);" 
	            data-18278="transform:translate(0px, 220.5px);">
	            <img src="images/p4-text.png" alt="DELIVER: We fulfill services within a reasonable time frame, balancing quality with efficiency. We are not just delivering your project, we are helping you tell your story." /><br />
	            <div class="p4 p4-text-image"
	              data-16205="opacity:0;" 
	              data-17805="opacity:1;"></div>

	          </div>

	        </div>
	        <div class="p1-after"></div>
	        <div class="p1"></div>
	        <div class="p2"></div>
	        <!-- <div class="p3"></div> -->
	        <div class="p4-after"></div>
	        <div class="p4"></div>
	        <div class="p4-bg"></div>
	        <div class="footer"
	          data-20000="transform:translate(0px, 500px);" 
	          data-22000="transform:translate(0px, 0px);" >
	          <div class="content-container">
	            <div class="content">
	              <div class="columns two-third">
	                <div class="review-container" id="reviewContainer" ng-controller="reviewCtrl">
	                  <h1 class="review-title">Review</h1>
	                  <div class="review-rating-container">
	                    <span class="review-average">{{reviewAverage | number:1}}</span>
	                    <div class="star-rating-control">
	                      <div ng-repeat="a in range(5) track by $index" role="text" aria-label="" class="star-rating rater-0 star required star-rating-applied star-rating-readonly" ng-class="{'star-rating-on': reviewAverage >= $index + 1}">
	                        <a ng-title="$index + 1">{{$index + 1}}</a>
	                      </div>
	                    </div>
	                    {{reviewLength}} review<span ng-if="reviewLength < 1">s</span> 
	                    <button class="review-post-new" id="review" href="#review_form">Write a review</button>
	                  </div>
	                  <div class="review-posts">
	                    <div class="review-post" ng-repeat="post in posts | reverse">
	                      <div class="review-post-info">
	                        <span class="review-post-name">{{post.name}}</span> <span class="review-post-date">{{post.date}}</span>
	                      </div>
	                      <div class="review-post-msg">
	                        <div class="star-rating-control">
	                          <div ng-repeat="a in range(5) track by $index" role="text" aria-label="" class="star-rating rater-0 star required star-rating-applied star-rating-readonly" ng-class="{'star-rating-on': post.rating > $index}">
	                            <a ng-title="$index + 1">{{$index + 1}}{{post.rating}}</a>
	                          </div>
	                        </div>
	                        <p ng-bind-html="post.message"></p>
	                      </div>
	                    </div>
	                  </div>
	                </div>
	                <div class="footer-boat"></div>
	              </div>
	              <div class="columns one-third">
	               
	                <div class="column">
	                  <h2 class="subtitle">HELP AND</h2>
	                  <h1 class="title">INFORMATION</h1>
	                  <ul>
	                    <li>Email: janfrancisisrael@gmail.com</li>
	                    <li>Address: Cebu City, Philippines</li>
	                   
	                  </ul>
	                </div>
	                <div class="column">
	                  <h2 class="subtitle">SUBSCRIBE TO OUR</h2>
	                  <h1 class="title">NEWSLETTER</h1>
	                  <!-- <form action="index.html" method="post" class="subscribe-form"> -->
	                    <!-- <input name="email" class="subscribe-input" placeholder="Email address" type="email"> -->
	                    <!-- <button type="submit" class="subscribe-submit">Subscribe</button> -->
	                  <!-- </form> -->
	<div id="mc_embed_signup">
	<form action="//squareft.us11.list-manage.com/subscribe/post?u=0b91576e44d9df1416a89a18c&amp;id=4b19f8337f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="subscribe-form validate" target="_blank" novalidate="">
	    <div id="mc_embed_signup_scroll">
	  

	<div class="mc-field-group">
	  
	  <input type="email" value="" name="EMAIL" class="subscribe-input required email" placeholder="Email address *" id="mce-EMAIL">
	  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="subscribe-submit">
	    <div style="clear:both"><br><br></div>
	</div>
	  <div id="mce-responses" class="clear">
	    <div class="response" id="mce-error-response" style="display:none"></div>
	    <div class="response" id="mce-success-response" style="display:none"></div>
	  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    <div style="position: absolute; left: -5000px;"><input type="text" name="b_0b91576e44d9df1416a89a18c_4b19f8337f" tabindex="-1" value=""></div>
	    
	<div class="clear"></div>
	    </div>
	</form>
	</div>
	<!--End mc_embed_signup-->



	                  <!--<h2 class="subtitle">Like what you’ve seen so far?</h2> -->
	                  <!--<h1 class="title">FOLLOW ME</h1> -->
	      
	                  <!--<a target="_blank" href="https://www.facebook.com/pages/Square-Foot-org/1657531154483802" class="icon-social"><i class="fa fa-facebook"></i></a> -->
	                  
	                  <!-- <a href="https://www.pinterest.com/" class="icon-social"><i class="fa fa-pinterest-p"></i></a> -->
	                </div>
	              </div>
	            </div>
	          </div>
	          <div class="copyright-container">
	            <div class="content">
	              <p>&copy; 2016 Jan Francis Israel. All rights reserved | Designed by Jan Francis Israel</p>
	            </div>
	          </div>
	        </div>
	        </div>
	      </div>
	    <div class="stretcher"></div>
	    <div class="clear"></div>

	    <div class="modalpage" id="service">
	      <div class="container">
	        <div class="header">
	          <div class="content">
	            <div class="page-icons"></div>
	            <h1 class="title">About Me</h1>
	          </div>
	        </div>



	        <div class="content">
	          <div class="tagline">
	            <p style=" font-size: 30pt; font-weight: 700;">JAN FRANCIS ISRAEL</p>
	            <p>Web Developer/Designer</p>
	          </div>

	          <div class="list">
	            
	            <p>Driven professional with broad technical skill set. Excellent communicator experienced interpreting and implementing client and staff visions of new websites. Known for anility to multi-task and juggle multiple pressing projects simultaneously, meeting all deadlines. Thrives in environments that constantly embrace new technologies.</p>
	            <div class="creatives">
	            <h1 class="list-header" style="background-color: gainsboro !important;padding: 10px 20px;">Programming Skills</h1>
	              <div class="creative-1">



	         
	                <div class="list-nest">
	                  <div class="list-item">
	                    <p>PHP</p>
	                  </div>
	                  <div class="list-item">
	                    <p>CSS/CSS3</p>
	                  </div>
	                  <div class="list-item">
	                    <p>HTML/HTML5</p>
	                  </div>
	                  <div class="list-item">
	                    <p>JAVASCRIPT</p>
	                  </div>
	                  <div class="list-item">
	                    <p>JQUERY</p>
	                  </div>
	                  <div class="list-item">
	                    <p>XML</p>
	                  </div>
	                  <div class="list-item">
	                    <p>XSL</p>
	                  </div>
	                  <div class="list-item">
	                    <p>AJAX</p>
	                  </div>

	                   
	                </div>
	              </div>
	          
	              <div class="creative-1">
	               


	                <div class="list-nest">
	                  <div class="list-item">
	                    <p>SQL</p>
	                  </div>
	                  <div class="list-item">
	                    <p>MONGODB</p>
	                  </div>
	                  <div class="list-item">
	                    <p>ANGULARJS</p>
	                  </div>
	                  <div class="list-item">
	                    <p>LARAVEL FRAMEWORK</p>
	                  </div>
	                  <div class="list-item">
	                    <p>PYTHON</p>
	                  </div>
	                  <div class="list-item">
	                    <p>NODEJS</p>
	                  </div>
	                  <div class="list-item">
	                    <p>FRAMEWORK 7</p>
	                  </div>
	                  <div class="list-item">
	                    <p>RESTFUL</p>
	                  </div>
	                </div>
	              </div>




	               
	              </div>
	            </div>
	          </div>





	          <div class="content">
	        <!--   <div class="tagline">
	            <p style=" font-size: 20px; font-weight: 700;">Jan Francis Israel</p>
	            <p>Im A Web Developer</p>
	          </div> -->

	          <div class="list">
	         
	            <div class="creatives">
	            

	             <h1 class="list-header" style="background-color: gainsboro !important;padding: 10px 20px;">Creative Skills</h1>

	              <div class="creative-3">



	             
	                <div class="list-nest">
	                  <div class="list-item">
	                    <p>PHOTOSHOP</p>
	                  </div>
	                  <div class="list-item">
	                    <p>ILLUSTRATOR</p>
	                  </div>
	                  <div class="list-item">
	                    <p>FLASH</p>
	                  </div>
	                  <div class="list-item">
	                    <p>AFTER EFFECTS</p>
	                  </div>
	                  <div class="list-item">
	                    <p>ZBRUSH</p>
	                  </div>
	                 
	                  <div class="list-item">
	                    <p>MAYA</p>
	                  </div>
	                  <div class="list-item">
	                    <p>CINEMA 4D</p>
	                  </div>
	                


	                </div>
	              </div>
	          
	              <div class="creative-3">
	               
	<h1 class="list-header"  style="background-color: gainsboro !important;padding: 10px 20px;">Application Programming</h1>

	                <div class="list-nest">
	                  <div class="list-item">
	                    <p>ANDROID STUDIO</p>
	                  </div>
	                  <div class="list-item">
	                    <p>APPCELERATOR</p>
	                  </div>
	                  <div class="list-item">
	                    <p>VB.NET</p>
	                  </div>
	                  <div class="list-item">
	                    <p>VBA</p>
	                  </div>
	                  <div class="list-item">
	                    <p>C#</p>
	                  </div>
	                 
	                </div>
	              </div>




	               
	              </div>
	            </div>
	          </div>

	          <hr>


	 

	          
	          <a href="images/janfrancisisrael.pdf"><div style="margin: 0 auto; width: 280px; background-color: Orange; Color: white; padding: 20px; text-align: center;">Check my Resume</div></a>
	      

	        </div>
	<!--         <div class="footer">
	          <div class="content">
	            <p>&copy; 2016 Jan Francis Israel. All rights reserved | Designed by Jan Francis Israel</p>
	          </div>
	        </div> -->
	      </div>
	    </div>

	    <div class="modalpage" id="works">
	      <div class="container">
	        <div class="header">
	          <div class="content">
	            <div class="page-icons"></div>
	            <h1 class="title">Works</h1>
	          </div>
	        </div>
	        <div class="content">
	          <div class="tagline">
	            <p>Here’s a peek into some of the stuff I’ve done over the years.</p>
	          </div>
	          <div class="gallery-controller">
	            <button class="filter" data-filter="all">All</button>
	            <button class="filter" data-filter=".gallery-wd">Web Development</button>
	            <button class="filter" data-filter=".gallery-ai">Illustrations</button>
	            
	            <button class="filter" data-filter=".gallery-bc">Business Cards</button>
	            <button class="filter" data-filter=".gallery-branding">Brandings</button>
	            <!-- <button class="filter" data-filter=".gallery-3d">3D Modeling</button> -->
	          </div>
	          <div class="gallery gallery-works">
	            <div class="mix gallery-ai">
	              <img src="images/gallery/ai-skunk.jpg" alt="The Skunk who lost his stunk" title="The Skunk who lost his stunk"/>
	              <div class="content">
	                <h1 class="title">The Skunk who lost his stunk</h1>
	                <p>Book Cover illustration</p>
	              </div>
	              <a class="fancybox gallery-works-image" href="images/gallery/skunk.jpg" title="Book Cover illustration"></a>
	            </div>
	            <div class="mix gallery-ai">
	              <img src="images/gallery/ai-intrigue.jpg" alt="Intrigue" title="From sketch to coloured."/>
	              <div class="content">
	                <h1 class="title">Intrigue</h1>
	                <p>From sketch to coloured.</p>
	              </div>
	              <a class="fancybox gallery-works-image" href="images/gallery/intrigue.jpg" title="Intrigue. From sketch to coloured."></a>
	            </div>
	            <div class="mix gallery-ai">
	              <img src="images/gallery/ai-pigrider.jpg" alt="Pig rider" title="Pig rider"/>
	              <div class="content">
	                <h1 class="title">Pig rider</h1>
	                <p>Illustration</p>
	              </div>
	              <a class="fancybox gallery-works-image" href="images/gallery/pigrider.jpg" title="Pig rider"></a>
	            </div>
	            <div class="mix gallery-ai">
	              <img src="images/gallery/ai-lighthouse.jpg" alt="Lighthouse" title="Lighthouse"/>
	              <div class="content">
	                <h1 class="title">Lighthouse</h1>
	                <p>Illustration</p>
	              </div>
	              <a class="fancybox gallery-works-image" href="images/gallery/lighthouse.jpg" title="Lighthouse"></a>
	            </div>
	            <div class="mix gallery-ai">
	              <img src="images/gallery/ai-armarcher.jpg" alt="6 Arm Archer" title="Illustration"/>
	              <div class="content">
	                <h1 class="title">6 Arm Archer</h1>
	                <p>Illustration</p>
	              </div>
	              <a class="fancybox gallery-works-image" href="images/gallery/armarcher.jpg" title="6 Arm Archer"></a>
	            </div>
	            <div class="mix gallery-ai">
	              <img src="images/gallery/ai-time-traveler.jpg" alt="The Time Traveler" title="Illustration"/>
	              <div class="content">
	                <h1 class="title">The Time Traveler</h1>
	                <p>Illustration</p>
	              </div>
	              <a class="fancybox gallery-works-image" href="images/gallery/time-traveler.jpg" title="The Time Traveler"></a>
	            </div>
	            <div class="mix gallery-ai">
	              <img src="images/gallery/ai-spider-in-fire.jpg" alt="The Spider in Fire" title="The Spider in Fire"/>
	              <div class="content">
	                <h1 class="title">The Spider in Fire</h1>
	                <p>Illustration</p>
	              </div>
	              <a class="fancybox gallery-works-image" href="images/gallery/spider-in-fire.jpg" title="The Spider in Fire"></a>
	            </div>
	            <div class="mix gallery-wd">
	              <img src="images/gallery/wd-ecommerce-001.jpg" alt="E-commerce Design 1" title="E-commerce Design 1"/>
	              <div class="content">
	                <h1 class="title">E-commerce Design 1</h1>
	                <p>Web Design</p>
	              </div>
	              <a class="fancybox gallery-works-image" href="images/gallery/ecommerce-001.jpg" title="E-commerce Design 1"></a>
	            </div>
	            <div class="mix gallery-wd">
	              <img src="images/gallery/wd-ecommerce-002.jpg" alt="E-commerce Design 2" title="E-commerce Design 2"/>
	              <div class="content">
	                <h1 class="title">E-commerce Design 2</h1>
	                <p>Web Design</p>
	              </div>
	              <a class="fancybox gallery-works-image" href="images/gallery/ecommerce-002.jpg" title="E-commerce Design 2"></a>
	            </div>
	            <div class="mix gallery-bc">
	              <img src="images/gallery/bc-card-1.jpg" alt="Card 1" title="Card 1"/>
	              <div class="content">
	                <h1 class="title">Card 1</h1>
	                <p>Business Card</p>
	              </div>
	              <a class="fancybox gallery-works-image" href="images/gallery/card-1.jpg" title="Business Card 1"></a>
	            </div>
	            <div class="mix gallery-bc">
	              <img src="images/gallery/bc-card-2.jpg" alt="Card 2" title="Card 2"/>
	              <div class="content">
	                <h1 class="title">Card 2</h1>
	                <p>Business Card</p>
	              </div>
	              <a class="fancybox gallery-works-image" href="images/gallery/card-2.jpg" title="Business Card 2"></a>
	            </div>
	            <div class="mix gallery-ai">
	              <img src="images/gallery/ai-don.jpg" alt="Illustration" title="Illustration"/>
	              <div class="content">
	                <h1 class="title">Illustration</h1>
	                <p>Illustration</p>
	              </div>
	              <a class="fancybox gallery-works-image" href="images/gallery/don.jpg" title="Illustration"></a>
	            </div>
	            <div class="mix gallery-ai">
	              <img src="images/gallery/ai-kongz.jpg" alt="Illustration" title="Illustration"/>
	              <div class="content">
	                <h1 class="title">Illustration</h1>
	                <p>Illustration</p>
	              </div>
	              <a class="fancybox gallery-works-image" href="images/gallery/kongz.jpg" title="Illustration"></a>
	            </div>
	            <div class="mix gallery-branding">
	              <img src="images/gallery/branding-pizza-box.jpg" alt="Branding" title="Branding"/>
	              <div class="content">
	                <h1 class="title">Branding</h1>
	                <p>Branding</p>
	              </div>
	              <a class="fancybox gallery-works-image" href="images/gallery/pizza-box.jpg" title="Branding"></a>
	            </div>

	             <div class="mix gallery-wd">
	              <img src="images/gallery/equip-mate.png" alt="Web Design" title="Web Design"/>
	              <div class="content">
	                <h1 class="title">Equip-mate.com.au</h1>
	                <p>Web Design</p>
	              </div>
	              <a class="fancybox gallery-works-image" target="_blank" href="http://www.equip-mate.com.au" title="Web Design"></a>
	            </div>

	              <div class="mix gallery-wd">
	              <img src="images/gallery/aztecbpo.png" alt="Web Design" title="Web Design"/>
	              <div class="content">
	                <h1 class="title">aztecbpo</h1>
	                <p>Web Design</p>
	              </div>
	              <a class="fancybox gallery-works-image" target="_blank" href="http://www.aztecbpo.co" title="Web Design"></a>
	            </div>

	             <div class="mix gallery-wd">
	              <img src="images/gallery/svi.png" alt="Web Design" title="Web Design"/>
	              <div class="content">
	                <h1 class="title">SVI</h1>
	                <p>Web Design</p>
	              </div>
	              <a class="fancybox gallery-works-image" target="_blank" href="http://www.svi-hq.com/" title="Web Design"></a>
	            </div>


	            <div class="mix gallery-wd">
	              <img src="images/gallery/snaproute.png" alt="Web Design" title="Web Design"/>
	              <div class="content">
	                <h1 class="title">SnapRoute</h1>
	                <p>Web Design</p>
	              </div>
	              <a class="fancybox gallery-works-image" target="_blank" href="http://www.snaproute.com/" title="Web Design"></a>
	            </div>

	             <div class="mix gallery-wd">
	              <img src="images/gallery/azala.png" alt="Web Design" title="Web Design"/>
	              <div class="content">
	                <h1 class="title">Azala</h1>
	                <p>Web Design</p>
	              </div>
	              <a class="fancybox gallery-works-image" target="_blank" href="http://azalasf.com/" title="Web Design"></a>
	            </div>


	             <div class="mix gallery-wd">
	              <img src="images/gallery/climblabs.png" alt="Web Design" title="Web Design"/>
	              <div class="content">
	                <h1 class="title">climblabs</h1>
	                <p>Web Design</p>
	              </div>
	              <a class="fancybox gallery-works-image" target="_blank" href="http://climblabs.com/" title="Web Design"></a>
	            </div>


	             <div class="mix gallery-wd">
	              <img src="images/gallery/angularjs.png" alt="Web Design" title="Web Design"/>
	              <div class="content">
	                <h1 class="title">Dashboard Design using angular js</h1>
	                <p>Web Design</p>
	              </div>
	              <a class="fancybox gallery-works-image" target="_blank" href="http://dashboard.taisei-test.com/" title="Web Design"></a>
	            </div>


	          <div class="mix gallery-wd">
	              <img src="images/gallery/stevensrentals.png" alt="Web Design" title="Web Design"/>
	              <div class="content">
	                <h1 class="title">stevensrentals.com using bootsrap</h1>
	                <p>Web Design</p>
	              </div>
	              <a class="fancybox gallery-works-image" target="_blank" href="http://stevensrentals.com" title="Web Design"></a>
	            </div>


	          <div class="mix gallery-wd">
	              <img src="images/gallery/digitaliron.png" alt="Web Design" title="Web Design"/>
	              <div class="content">
	                <h1 class="title">DigitalIron.com - wordpress</h1>
	                <p>Web Design</p>
	              </div>
	              <a class="fancybox gallery-works-image" target="_blank" href="http://digitaliron.com/" title="Web Design"></a>
	            </div>


	            <!-- <div class="mix gallery-3d" data-my-order="13">
	              <div class="content">
	                <h1 class="title">First 3D</h1>
	                <p>This is content for illustrator</p>
	              </div>
	            </div> -->
	          </div>
	        </div>
	        <div class="footer">
	          <div class="content">
	            <p>&copy; 2016 Jan Francis Israel. All rights reserved | Designed by Jan Francis Israel</p>
	          </div>
	        </div>
	      </div>
	    </div>
	<!-- 
	    <div class="modalpage" id="team">
	      <div class="container">
	        <div class="header">
	          <div class="content">
	            <div class="page-icons"></div>
	            <h1 class="title">Team</h1>
	          </div>
	        </div>
	        <div class="content">
	          <div class="tagline">
	            <p>Meet the Professionals</p>
	          </div>
	          <div class="profiles">
	            <div class="profile wizard">
	              <div class="content-container">
	                <div class="content">
	                <b>Joseph’s</b> extensive experience and training in web development and programming makes him Square Foot’s designated techie guy. He’s the go-to geek for all things related to computer codes and programs.
	                <br />
	                <br />
	                Specialty:
	                <ul>
	                  <li>- Responsive web design</li>
	                  <li>- PHP</li>
	                  <li>- JSON</li>
	                  <li>- AJAX</li>
	                  <li>- AngularJS</li>
	                  <li>- jQuery</li>
	                  <li>- Bootstrap</li>
	                  <li>- HTML</li>
	                  <li>- CSS</li>
	                  <li>- JS</li>
	                </ul>
	                </div>
	              </div>
	            </div>
	            <div class="profile wordsmith">
	            </div>
	            <div class="profile visionary">
	              <div class="content-container">
	                <div class="content">
	                  An expert of both traditional and digital media, <b>Jan</b> handles the visual and design aspects of Square Foot. He has more than six years of experience working with authors, game designers and fellow artists.
	                  <br/>
	                  <br/>
	                  Specialty:
	                  <ul>
	                    <li>- Digital art</li>
	                    <li>- Web design</li>
	                    <li>- Graphic design</li>
	                    <li>- Book, graphic novel and game illustrations</li>
	                    <li>- Photo editing, retouching and manipulation</li>
	                    <li>- Book and album cover designs</li>
	                    <li>- Logo creation</li>
	                  </ul>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="footer">
	          <div class="content">
	            <p>&copy; 2015 squareft.org. All rights reserved | Designed by Squarefoot</p>
	          </div>
	        </div>
	      </div>
	    </div>
	 -->
	    <div class="modalpage" id="contact">
	      <div class="container">
	        <div class="header">
	          <div class="content">
	            <div class="page-icons"></div>
	            <h1 class="title">Contact</h1>
	          </div>
	        </div>
	        <div class="content">
	          <div class="tagline">
	            <p>Got an idea? Questions? Suggestions?</p>
	            <p><b>We’d love to hear them!</b></p>
	          </div>
	          <form id="contact-form" class="flp" action="contact.php" name="contact" method="post">
	            <div class="plane"></div>
	            <div>
	              <input type="text" name="contact-name" id="name" />
	              <label for="name">Your Name *</label>
	            </div>
	            <div>
	              <input type="email" name="contact-email" id="email" />
	              <label for="email">Email Address *</label>
	            </div>
	            <div>
	              <input type="text" name="contact-subject" id="subject" />
	              <label for="subject">Subject *</label>
	            </div>
	            <div>
	              <textarea name="contact-message" id="message"></textarea>
	              <label for="message">Message *</label>
	            </div>
	            <div>
	              <button id="contact-send" type="submit">Send</button>
	            </div>
	          </form>
	        </div>
	        <div class="footer">
	          <div class="content">
	            <p>&copy; 2016 Jan Francis Israel. All rights reserved | Designed by Jan Francis Israel</p>
	          </div>
	        </div>
	      </div>
	    </div>

	    <div class="modalcover">
	    </div>



	    <div class="modalpage" id="TermsAndConditions">
	      <div class="container">
	        <div class="header">
	          <div class="content">
	            <!-- <div class="page-icons"></div> -->
	            <h1 class="title">Terms and Conditions</h1>
	          </div>
	        </div>
	        <div class="content">
	          <p>Welcome to Square Foot. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern Square Foot's relationship with you in relation to this website. If you disagree with any part of these terms
	          and conditions, please do not use our website.</p>

	          <p>The term 'Square Foot' or 'us' or 'we' refers to the owners of the website. The term 'you' refers to the user or viewer of our website.</p>

	          <p>The use of this website is subject to the following terms of use:</p>

	          <div class="list-nest">
	              <div class="list-item">
	                <p>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</p>
	              </div>
	              <div class="list-item">
	                <p>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</p>
	              </div>
	              <div class="list-item">
	                <p>Your use of any products and services provided by this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</p>
	              </div>
	              <div class="list-item">
	                <p>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the text, design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</p>
	              </div>
	              <div class="list-item">
	                <p>All trademarks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.</p>
	              </div>
	              <div class="list-item">
	                <p>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</p>
	              </div>
	              <div class="list-item">
	                <p>From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</p>
	              </div>
	            </div>
	        </div>
	        <div class="footer">
	          <div class="content">
	            <p>&copy; 2016 Jan Francis Israel. All rights reserved | Designed by Jan Francis Israel</p>
	          </div>
	        </div>
	      </div>
	    </div>



	    <div class="modalpopup" id="Review">
	      <div class="container">
	        <div class="header">
	          <div class="content">
	            <!-- <div class="page-icons"></div> -->
	            <h1 class="title">Terms and Conditions</h1>
	          </div>
	        </div>
	        <div class="content">
	          <p>Welcome to Square Foot. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern Square Foot's relationship with you in relation to this website. If you disagree with any part of these terms
	          and conditions, please do not use our website.</p>

	          <p>The term 'Square Foot' or 'us' or 'we' refers to the owners of the website. The term 'you' refers to the user or viewer of our website.</p>

	          <p>The use of this website is subject to the following terms of use:</p>

	          <div class="list-nest">
	              <div class="list-item">
	                <p>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</p>
	              </div>
	              <div class="list-item">
	                <p>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</p>
	              </div>
	              <div class="list-item">
	                <p>Your use of any products and services provided by this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</p>
	              </div>
	              <div class="list-item">
	                <p>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the text, design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</p>
	              </div>
	              <div class="list-item">
	                <p>All trademarks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.</p>
	              </div>
	              <div class="list-item">
	                <p>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</p>
	              </div>
	              <div class="list-item">
	                <p>From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</p>
	              </div>
	            </div>
	        </div>
	        <div class="footer">
	          <div class="content">
	            <p>&copy; 2016 Jan Francis Israel. All rights reserved | Designed by Jan Francis Israel</p>
	          </div>
	        </div>
	      </div>
	    </div>

	  <div class="scrollfloat">
	    <div class="scrollpos"></div>
	    <div class="contentpos"></div>
	  </div>
	<div style="display:none">
	  <form id="review_form" method="post" action="" name="wreview_form" ng-submit="wreview_submit()">
	        <p id="review_error" style="display:none">Please, enter data</p>
	    <p>
	      <label for="name">Name: </label>
	      <input type="text" name="name" size="30" ng-model="wreview.name" id="wreview_name" required/>
	    </p>
	    <p>
	      <label for="email">Email: </label>
	      <input type="email" name="email" size="30" ng-model="wreview.email" id="wreview_email" required/>
	    </p>
	    <p>
	      <label>Rating:</label>
	      <input class="star required" type="radio" name="rating" value="1"/>
	      <input class="star" type="radio" name="rating" value="2"/>
	      <input class="star" type="radio" name="rating" value="3"/>
	      <input class="star" type="radio" name="rating" value="4"/>
	      <input class="star" type="radio" name="rating" value="5" checked="checked"/>
	    </p>
	    <p>
	      <label for="message" ng-model="wreview.message">Messsage: </label>
	      <textarea name="message"  maxlength="180" id="wreview_message" required></textarea>
	    </p>
	    <p>
	      <input type="submit" value="Submit"/>
	    </p>
	  </form>
	</div>




	  <script src="js/jquery.min.js"></script>
	  <script src="js/jquery-ui.min.js"></script>

	  <!--<script src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"></script>-->

	  <!-- Plugin JavaScript -->
	  <script src="js/jquery.mousewheel-3.0.6.pack.js"></script>
	  <script src="js/velocity.min.js"></script>
	  <script src="js/velocity.ui.js"></script>
	  <script src="js/jquery.mixitup.js"></script>
	  <script src="js/classie.js"></script>
	  <script src='js/jquery.MetaData.js' type="text/javascript" language="javascript"></script>
	  <script src='js/jquery.rating.js' type="text/javascript" language="javascript"></script>
	  <script src="js/angular.min.js"></script>
	  <script src="js/angular-sanitize.js"></script>


	  <!-- Add fancyBox main JS and CSS files -->
	  <script type="text/javascript" src="js/source/jquery.fancybox.js?v=2.1.5"></script>

	  <!-- Add Button helper (this is optional) -->
	  <script type="text/javascript" src="js/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

	  <!-- Add Thumbnail helper (this is optional) -->
	  <script type="text/javascript" src="js/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

	  <!-- Add Media helper (this is optional) -->
	  <script type="text/javascript" src="js/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>


	  <!-- App -->
	  <script src="js/skrollr.min.js"></script>
	  <script src="js/app.js"></script>
	  <script src="js/sqftAnimatedHeader.js"></script>

	<!-- 

	 -->
	  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

	<!-- <script type="text/javascript">
	  jQuery(window).scroll(function() {
	  var theta = jQuery(window).scrollTop() % Math.PI;
	  jQuery('.navbar-shrink:before').css({ transform: 'rotate(' + theta + 'rad)' });

	});
	</script> -->


	  <!-- jQuery -->

	<script type="text/javascript">
	   
	jQuery (document).ready(function() {
	   
	  //hide boxex 
	  jQuery (".caption").hide();

	  //init scrolling event heandler
	  jQuery (document).scroll(function(){
	   
	    var docScroll = jQuery (document).scrollTop(), 
	        boxCntOfset = jQuery (".bar").offset().top - 500;
	    
	 
	    //when rich top of boxex than fire
	    if(docScroll >= boxCntOfset ) {

	      jQuery ("#level1").fadeIn(200)
	    
	    } else {
	     jQuery ("#level1").fadeOut(200)
	    
	    }
	  })   
	});
	  
	  </script>
	  </body>

	</html>